@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://www.lowyinstitute.org/sites/default/files/GettyImages-86609753mini.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-text {
    font-size: 100px;
    text-align: center;
    color: white;
}